@mixin wrapper($bg-color, $txt-color) {
  background-color: $bg-color;
  color: $txt-color;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
