@import 'base';
@import 'mixins';
@import 'variables';

@import 'components/buttons';

nav {
  position: fixed;
  padding: 1.5em;
  width: 100%;
  height: auto;
  z-index: 99;
  background-color: white;
}

a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

h2 {
  margin: 0 15px;
}

.pos-relative {
  display: flex;
  align-items: center;
}

.pos-relative > * {
  margin: 0 5px;
}

.mt-1 {
  margin-top: 1em;
}

.txt-big {
  font-family: inherit;
  font-weight: bold;
  font-size: 5rem;
  white-space: pre-wrap;
}

.txt-fail {
  font-weight: bold;
  color: $color-primary-dark;
}

.board {
  overflow: auto;
  white-space: nowrap;
  max-width: 95vw;
  height: 60vh;
  margin: 15px auto;
}

.board--row {
  width: 100%;
  height: 50px;
}

.board--tile {
  cursor: pointer;
}

.wrapper {
  @include wrapper($color-secondary, $color-black);
}

.dialog--wrapper {
  @include wrapper($color-primary, $color-secondary);
}

@media screen and (max-width: 768px) {
  .txt-big {
    font-size: 2.5rem;
  }
}
